---
layout: category_posts
category_page: projects
---

<article id="post-47" class="post-47 page type-page status-publish hentry singlePageContent">
<div class="entry-content">
    <p>
        Naast schilderen geniet ik er ook van om op andere manieren creatief bezig te zijn. Naaien, knutselen, papier mache, bakken etc.
        Omdat ik regelmatig vragen krijg over waar ik allemaal mee bezig ben is hieronder een greep uit de projectjes die ik de afgelopen tijd heb ondernomen.
        Dit vooral ter inspiratie, maar de meeste projecten zijn in overleg ook te koop. Ik maak dan iets nieuws in de gewenste maat en kleur.
        Mocht daar interesse voor zijn, <a href="http://www.ateljkuijers.nl/contact/" title="Contact">neem dan a.u.b. contact op</a> via het contactformulier.
    </p>
</div> 
</article>

{% for post in site.categories[page.category_page] limit:3 %}
    <article class="post type-post status-publish format-standard hentry category-projects">
        <header class="entry-header">
            <h1 class="entry-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h1>
            <div class="entry-meta">
                <span class="sep">Posted on </span><time class="entry-date" datetime="{{ page.date | date: '%FT%X+01:00'}}">{{ post.date | date: '%d-%m-%Y'}}</time>
            </div>
        </header>
        <div class="entry-content">
            {{ post.content | markdownify }}
        </div>
        <footer class="entry-meta">
        </footer>
    </article>
{% endfor %}

{% for post in site.categories[page.category_page] offset:3 %}
    <article class="post type-post status-publish format-standard hentry category-projects">
        <header class="entry-header">
            <h1 class="entry-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h1>
            <div class="entry-meta">
                <span class="sep">Posted on </span><time class="entry-date" datetime="{{ page.date | date: '%FT%X+01:00'}}">{{ post.date | date: '%d-%m-%Y'}}</time>
            </div>
        </header>
    </article>
{% endfor %}