---
layout: category_posts
category_page: murals
---

<article id="post-47" class="post-47 page type-page status-publish hentry singlePageContent">
<div class="entry-content">
    <p>
        Het maken van muurschilderingen bij mensen in huis is een van mijn activiteiten.
        De schilderingen kunnen met acrylverf gemaakt worden (mat) of met houtverf (meer glanzend).
        Prijzen zijn beschikbaar op aanvraag en afhankelijk van de maat van de schildering, ondergrond en gewenst materiaal.
    </p>
</div> 
</article>

{% for post in site.categories[page.category_page] limit:3 %}
    <article class="post type-post status-publish format-standard hentry category-murals">
        <header class="entry-header">
            <h1 class="entry-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h1>
            <div class="entry-meta">
                <span class="sep">Posted on </span><time class="entry-date" datetime="{{ page.date | date: '%FT%X+01:00'}}">{{ post.date | date: '%d-%m-%Y'}}</time>
            </div>
        </header>
        <div class="entry-content">
            {{ post.content | markdownify }}
        </div>
        <footer class="entry-meta">
        </footer>
    </article>
{% endfor %}

{% for post in site.categories[page.category_page] offset:3 %}
    <article class="post type-post status-publish format-standard hentry category-murals">
        <header class="entry-header">
            <h1 class="entry-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h1>
            <div class="entry-meta">
                <span class="sep">Posted on </span><time class="entry-date" datetime="{{ page.date | date: '%FT%X+01:00'}}">{{ post.date | date: '%d-%m-%Y'}}</time>
            </div>
        </header>
    </article>
{% endfor %}