---
layout: default
---

<div class="contentleft">
    {{ content }}
</div>

<div class="contentright">
    <div id="sidebar" role="complementary" name="sebastets">
        <ul role="navigation">
            <li class="catnav">
                <h2>{{ page.category_page | capitalize }}</h2>
                <ul>
                {% for post in site.categories[page.category_page] %}
                <li class="post type-post status-publish format-standard hentry category-updates">
                    <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </li>
            <li class="lastnav">
                <h2>Lees ook</h2>
                <ul>
                {% assign count = 0 %}
                {% for post in site.posts %}
                
                {% if post.category == page.category_page %}
                    {% assign count = count + 1 %}
                    {% if count <= 5 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endif %}
                
                {% if post.category != page.category_page %}
                    {% capture count %}{{ count | append:forloop.index | append:',' }}{% endcapture %}
                    {% capture count_array %}{{ count | remove_last:',' | split:','}}{% endcapture %}
                    <li>{{ count }} :: {{ count_array.size }}</li>
                    {% if count_array.size <= 5 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endif %}
                
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>