---
layout: default
---

<div class="contentleft">
    {{ content }}
</div>

<div class="contentright">
    <div id="sidebar" role="complementary" name="sebastets">
        <ul role="navigation">
            <li class="lastnav">
                <h2>Lees ook</h2>
                <ul>
                {% assign count = 0 %}
                {% for post in site.posts %}
                    {% assign count = count + 1 %}
                    {% if count <= 5 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>