---
layout: default
---

<div class="contentleft">
    <div id="primary">
        <div id="content" role="main">
            <article class="post type-post status-publish format-standard hentry category-updates">
                <header class="entry-header">
                    <h1 class="entry-title">{{ page.title }}</h1>
                    <div class="entry-meta">
                        <span class="sep">Posted on </span><time class="entry-date" datetime="{{ page.date | date: '%FT%X+01:00'}}">{{ page.date | date: '%d-%m-%Y'}}</time>
                    </div>
                </header>
                <div class="entry-content">
                    {{ content }}
                </div>
                <footer class="entry-meta">
                </footer>
            </article>
        </div>
    </div>
</div>


{% capture location %}{{ page.url | replace:'index.html','' | remove_first:'/' | split:'/' | first }}{% endcapture %}
<div class="headerMain">
    <nav class="menu-main-container">
        <ul id="menu-main" class="menu cssClear">
        {% for nav in site.data.navigation reversed %}
            {% capture nav_location %}{{ nav.href | replace:'/','' }}{% endcapture %}
            {% if location == page.category_page %}
                <li class="current_page_item"><a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a></li>
            {% elsif page.menu_item == nav_location %}
                <li class="current_page_item"><a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a></li>
            {% else %}
                <li><a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>
<div class="headerBottom"></div>

<div class="contentright">
    <div id="sidebar" role="complementary" name="sebastets">
        <ul role="navigation">
            <li class="catnav">
                <h2>{{ page.category | capitalize }}</h2>
                <ul>
                {% for post in site.categories[page.category] %}
                {% if page.url != post.url %}
                <li class="post type-post status-publish format-standard hentry category-updates">
                    <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
                </ul>
            </li>
            <li><h2>Archief</h2>
                <ul>
                    <li><a href="http://www.ateljkuijers.nl/2013/01/" title="januari 2013">januari 2013</a></li>
                    <li><a href="http://www.ateljkuijers.nl/2012/12/" title="december 2012">december 2012</a></li>
                    <li><a href="http://www.ateljkuijers.nl/2012/08/" title="augustus 2012">augustus 2012</a></li>
                    <li><a href="http://www.ateljkuijers.nl/2012/06/" title="juni 2012">juni 2012</a></li>
                    <li><a href="http://www.ateljkuijers.nl/2012/05/" title="mei 2012">mei 2012</a></li>
                    <li><a href="http://www.ateljkuijers.nl/2012/02/" title="februari 2012">februari 2012</a></li>
                    <li><a href="http://www.ateljkuijers.nl/2012/01/" title="januari 2012">januari 2012</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>